@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-x-pad: 2rem;
  --nav-y-pad: 1.25rem;
  --nav-gap: 2rem;
}

body {
  @apply bg-light-violet font-poppins;
  font-size: 16px;
  overflow-x: clip;
}

::selection {
  @apply bg-violet text-white;
}
