@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.h4 {
  @apply text-[18px] font-semibold text-black;
}

.h3 {
  @apply text-dark-violet font-medium
  text-[30px] lg:text-[40px];
}

.h2 {
  @apply text-dark-violet font-medium
  text-[40px] md:text-[50px] lg:text-[50px] xl:text-[60px];
}

.text-stroke {
  color: transparent;
  text-shadow: none;
  -webkit-text-stroke: 1.25px hsla(259, 100%, 22%, 1);
}
