@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("/Poppins/Poppins-Black.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/Poppins/Poppins-Regular.ttf");
}

.h4 {
  @apply text-[18px] font-semibold text-black;
}

.h3 {
  @apply text-dark-violet font-medium
  text-[20px] md:text-[30px] xl:text-[40px];
}

.h2 {
  @apply text-dark-violet font-medium
  text-[40px] md:text-[50px] lg:text-[50px] xl:text-[60px];
}

.text-stroke {
  color: transparent;
  text-shadow: none;
  -webkit-text-stroke: 1.25px hsla(259, 100%, 22%, 1);
}
