.hero-wrapper {
  @apply flex flex-col gap-[2rem] justify-center items-center;

  perspective: 600px;
  --webkit-perspective: 600px;
}

.heading {
  @apply text-center text-[90px] leading-[98px] text-dark-violet 
  font-medium;

  animation: textReveal 900ms;
  animation-delay: 1000ms;
  animation-timing-function: cubic-bezier(0.6, 0.01, -0.05, 0.95);
  transform-origin: center top;
  transform-style: preserve-3d;
}

@keyframes textReveal {
  0% {
    opacity: 0;
    transform: translate(0px, 130%) rotateX(-40deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0%) rotateX(0deg);
  }
}

.description {
  @apply text-grey text-[23px] text-center w-[45%];
}
